In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4) , index=['Row1' , 'Row2' , 'Row3' , 'Row4' , 'Row5'] , columns = ['Column1' , 'Column2' , 'Column3' , 'Column4'])

In [34]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [35]:
df.tail()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

### Accessing Elements

In [36]:
# 1. .loc 
# 2. .iloc

In [37]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [38]:
type(df.loc['Row1'])

pandas.core.series.Series

In [39]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [40]:
df.iloc[: , :]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [41]:
df.iloc[ : , 0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17

In [42]:
df.iloc[0:3 , 1:4]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11

In [43]:
type(df.iloc[0:3 , 1:4])

pandas.core.frame.DataFrame

In [44]:
type(df.iloc[0:2 , 0])

pandas.core.series.Series

In [46]:
# Convert a Dataframe into an array

df.iloc[0:3 , 0:2].values

array([[0, 1],
       [4, 5],
       [8, 9]])

In [47]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [48]:
df.isnull()

      Column1  Column2  Column3  Column4
Row1    False    False    False    False
Row2    False    False    False    False
Row3    False    False    False    False
Row4    False    False    False    False
Row5    False    False    False    False

In [49]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [50]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [51]:
df['Column1'].nunique()

5

In [58]:
df[['Column1' , 'Column2']]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17

In [59]:
type(df[['Column1' , 'Column2']])

pandas.core.frame.DataFrame